.hero a {
    height: 35rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5rem;
    margin: 2.5rem 2.5rem 0 2.5rem;
    color: var(--snow-color);
    text-decoration: none;
}

#hero-content-data {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

#anime-name,  #anime-desc {
    background: var(--black-mo);
    border-radius: 0.5rem;
    padding: 0.25rem;
    overflow: auto;
    box-shadow: var(--black-box-shadow);
}

#anime-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    background-color: var(--black-mo);
    border-radius: 0.5rem;
    box-shadow: var(--black-box-shadow);
}

#anime-info div {
    display: flex;
    flex-flow: column nowrap;
    height: 5rem;
    justify-content: space-evenly;
}

#anime-name {
    font-size: x-large;
    font-weight: bold;
    width: fit-content;
    max-height: 5rem;
}

#anime-desc {
    height: fit-content;
    max-height: 15rem;
}

#anime-img {
    border-radius: 0.5rem;
    box-shadow: var(--black-box-shadow);
}

.data-id {
    color: var(--dull-blue)
}
