/* Header Root Component */
#header {
    width: 100%;
    background: var(--dull-blue);
    height: 5rem;
    color: var(--snow-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#web-logo {
    height: 75%;
    max-height: 3.5em;
}

.header-nav {
    min-width: 45%;
    font-size: medium;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.header-buttons {
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    box-sizing: border-box;
}

.header-buttons button {
    width: 6rem;
    color: var(--snow-color);
}

.header-buttons #signInButton {
    background: transparent;
    border: 1px solid var(--black);
}