<header id="header">
    <img id="web-logo" title="web-logo" alt="logo of our website" [src]="logo_src">
    <nav class="header-nav">
        <a id="home-link">Home</a>
        <a id="ranking-link">Ranking</a>
        <a id="profile-link">Profile</a>
    </nav>
    <section class="header-buttons">
        @if (!isUser()) {
            <button id="signInButton" name="Sign In">Sign In</button>
            <button id="signUpButton" name="Sign Up">Sing Up</button>
        } @else {
            <button id="logOutButton" name="Log Out">Log Out</button>
        }
    </section>
</header>