#mobile-menu-box {
  z-index: 9999;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: end;
  background: #1d1d1f;
  color: white;
  gap: 2%;
  position: sticky;
  top: 0;
  padding: 2em;
}

#mobile-menu-box a {
  font-size: large;
  margin-right: 25%;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

#mobile-menu-box a:hover,
#mobile-menu-box a:focus {
  background: white;
  color: black;
}
