.episode {
    display: flex;
    height: 5rem;
    border-bottom: 0.05rem solid var(--snow-color);
    color: var(--snow-color);
    gap: 2rem;
}

.episode-data {
    flex: 1;
    text-align: center;
    align-content: center;
    height: 100%;
}

#episode-title {
    flex: 3;
    font-weight: bold;
    color: var(--dull-blue);
}

@media screen and (width < 35rem){
    #episode-status {
        display: none;
    }
}