aside {
    background: var(--black);
    color: var(--snow-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15%;
    padding-bottom: 15%;
    min-height: 100%;
}

.side-keyvalue {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.keyvalue-id{
    font-size: larger;
}

.keyvalue-value {
    opacity: 0.75;
}