aside {
    background: var(--black);
    color: var(--snow-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 15%;
    padding-bottom: 15%;
    min-height: 100%;
}

.side-keyvalue {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.keyvalue-id{
    font-size: larger;
    margin-bottom: 2rem;
    font-weight: bold;
}

@media screen and (width < 75rem) {
    aside {
        flex-direction: row;
        gap: 15rem;
        height: fit-content;
        padding: 1rem 5rem 1rem 5rem;
        overflow: auto;
    }

    .keyvalue-id{
        font-size: medium;
        margin-bottom: 1rem;
    }
}